/********************
GENERAL
********************/

body {
    font-size: .8em;
    /* font-family: 'Lato', sans-serif;
    font-weight: 700; */


    /* font-family: 'Raleway', sans-serif;
    font-weight: 300; */

}

/* Title */
#name {
    padding-top: 2.5%;
    /* padding-bottom: 1.5%; */
    text-align: center;
    font-size: 4em;
}

#first-name {
    /* font-family: 'Quattrocento', serif; */
    /* font-family: 'Sanchez', serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

}

#last-name {
    /* font-family: 'Suez One', serif; */
    /* font-family: 'Quicksand', sans-serif;
    font-weight: bold; */
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

#title {
    /* padding-top: 2.5%; */
    padding-bottom: 1.5%;
    text-align: center;
    font-size: 1.5em;
    /* font-family: 'Homemade Apple', cursive; */
    /* font-family: 'Rock Salt', cursive; */
    font-family: 'La Belle Aurore', cursive;


}

a {
    color: #000;
}

a:hover {
    color: #000;
}


/********************
NAV
********************/
#navbarsExample11 {
    padding-bottom: 10%;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.bg-white {
    background-color: #fff;
}

.burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/********************
FOOTER
********************/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding-top: 20px;
    font-size: .75em;
}



/********************
PAGE: PORTFOLIO
********************/
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.caption {
    margin-top: 3%;
    text-align: center;
    /* font-family: 'Raleway', sans-serif;
    font-weight: 300; */
    padding-bottom: 5%;
    font-size: 1.2em;
    

}

#img-caption {
    /* text-align: center; */
    color: rgba(0,0,0,.5);
    font-size: .8em;
    /* padding-top: 3%; */
    /* font-family: 'Raleway', sans-serif;
    font-weight: 400; */
}

p {
    font-size: 1em;
    padding-bottom: 10%;
}



/********************
PAGE: ABOUT
********************/


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/********************
PAGE: CONTACT
********************/
.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
}

#blue {
    background-color: red;
    height: 80px;
}